data/odd/mishnah-reference.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="brown_odds.rnc" type="application/relax-ng-compact-syntax"?>
<?xml-model href="brown_odds.isosch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Customization for the MISHNAH reference file</title>
                <author>Trevor Muñoz</author>
            </titleStmt>
            <publicationStmt>
                <distributor>Maryland Institute for Technology in the Humanities (via
                    website)</distributor>
                <address>
          <addrLine>mith@umd.edu</addrLine>
        </address>
                <date when="2011-10-19">October 19, 2011</date>
                <availability status="restricted">
                    <p>This work is copyright Trevor Muñoz and Maryland Institute for Technology in
                        the Humanities and licensed under a <ref
                            target="http://creativecommons.org/licenses/by/3.0/">Creative Commons
                            Attribution 3.0 Unported License</ref>.</p>
                </availability>
                <pubPlace>College Park, MD USA</pubPlace>
            </publicationStmt>
            <sourceDesc>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change who="tmunoz" when="2011-10-16">First draft</change>
            <change who="tmunoz" when="2011-11-30">First set of changes to split witness and
                reference schemas</change>
            <change who="tmunoz" when="2011-12-08">Moving witness specific markup to
                mishnah-witness.odd</change>
        </revisionDesc>
    </teiHeader>
    <!-- TODO:
           * Eliminate supplied?
           * Add decl with pointer to header on orders, tractates
           * Add rendition with pointer to header for scribal conventions on things like mishnah titles and verse separators
    -->
    <text>
        <body>
            <div>
                <head>Project Documentation</head>
                <p>To be added</p>
            </div>
            <div>
                <head>TEI Customizations for the Digital MISHNAH reference file</head>
                <p>The prefix in this schema stands for <expan>Digital MISHNAH reference</expan>,
                    the reference text used for aligning the various witnesses to the Mishnah.</p>
            </div>
            <div>
                <schemaSpec ident="digital_mishnah_reference" prefix="mishnahr" start="TEI">
                    <!-- Required modules, these need to be restricted further to get rid of unused elements -->
                    <moduleRef key="tei"/>
                    <moduleRef key="header"/>
                    <moduleRef key="core"/>
                    <moduleRef key="textstructure"/>
                    
                    <!-- Additional modules needed for collation -->
                    <moduleRef key="textcrit"/>
                    <moduleRef key="linking" include="ab anchor link"/>
                    
                    <!-- Including <w> for recording tokenization -->
                    <elementRef key="w"/>
                    
                    <!-- Including this class to permit use of @ana -->
                    <classRef key="att.global.analytic"/>
                    
                    <!-- Removing unwanted classes; Suggest not using numbered divs in reference text for explicit division-->
                    <classSpec module="textstructure" ident="model.div1Like" type="model" mode="delete"/>
                    <classSpec module="textstructure" ident="model.div2Like" type="model" mode="delete"/>
                    <classSpec module="textstructure" ident="model.div3Like" type="model" mode="delete"/>
                    <classSpec module="textstructure" ident="model.div4Like" type="model" mode="delete"/>
                    <classSpec module="textstructure" ident="model.div5Like" type="model" mode="delete"/>
                    <classSpec module="textstructure" ident="model.div6Like" type="model" mode="delete"/>
                    <classSpec module="textstructure" ident="model.div7Like" type="model" mode="delete"/>
                    
                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
