data/derivative/digital_mishnah_witness.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:oxdoc="http://www.oxygenxml.com/ns/doc/xsl"
        queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!--namespaces:--><ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <!--keys:--><!--patterns:--><!--constraints:--><pattern id="att.datable-constraint-calendar">
      <rule context="tei:*[@calendar]">
            <assert test="string-length(.) gt 0">
@calendar indicates the system or calendar to which the date represented by the content of this element
belongs, but this <name/> element has no textual content.</assert>
          </rule>
   </pattern>
   <pattern id="att.typed-constraint-subtypeTyped">
      <rule context="*[@subtype]">
	        <assert test="@type">The <name/> element should not be categorized in detail with @subtype
 unless also categorized in general with @type</assert>
      </rule>
   </pattern>
   <pattern id="att.pointing-constraint-targetLang">
      <rule context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
            <assert test="count(@target)">@targetLang can only be used if @target is specified.</assert>
          </rule>
   </pattern>
   <pattern id="att.spanning-constraint-spanTo-2">
      <rule context="tei:*[@spanTo]">
         <assert test="following::*[@xml:id=substring(current()/@target,2)]">
The element indicated by @spanTo must follow the current element <name/>
         </assert>
      </rule>
   </pattern>
   <pattern id="att.spanning-constraint-spanTo-3">
      <rule context="tei:*[@spanTo]">
         <assert test="id(substring(@spanTo,2))">
@spanTo on <name/> must point to  the identifier of some element  in this document</assert>
      </rule>
   </pattern>
   <pattern id="ptr-constraint-ptrAtts">
      <rule context="tei:ptr">
         <report test="@target and @cRef">Only one of the
attributes @target and @cRef may be supplied on <name/>.</report>
      </rule>
   </pattern>
   <pattern id="ref-constraint-refAtts">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="relatedItem-constraint-targetorcontent1">
      <rule context="tei:relatedItem">
         <report test="@target and count( child::* ) &gt; 0">
If the @target attribute on <name/> is used, the
relatedItem element must be empty</report>
         <assert test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</assert>
      </rule>
   </pattern>
   <pattern id="lg-constraint-atleast1oflggapl">
      <rule context="tei:lg">
         <assert test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg element
        must contain at least one child l, lg or gap element.</assert>
      </rule>
   </pattern>
   <pattern id="publicationStmt-constraint-linter">
      <rule context="tei:publicationStmt">
         <report test="not(tei:publisher/following-sibling::tei:pubPlace)">It is
                                    a requirement for TEI conformance that information about
                                    publication place, address, identifier, availability, and date
                                    be given in that order, following the name of the publisher,
                                    distributor, or authority concerned</report>
         <report test="not(tei:pubPlace/following-sibling::tei:address)">It is a requirement for TEI conformance that information about
                                    publication place, address, identifier, availability, and date
                                    be given in that order, following the name of the publisher,
                                    distributor, or authority concerned</report>
         <report test="not(tei:address/following-sibling::tei:idno)">It
                                    is a requirement for TEI conformance that information about
                                    publication place, address, identifier, availability, and date
                                    be given in that order, following the name of the publisher,
                                    distributor, or authority concerned</report>
         <report test="not(tei:idno/following-sibling::tei:availability)">It is a requirement for TEI conformance that information about
                                    publication place, address, identifier, availability, and date
                                    be given in that order, following the name of the publisher,
                                    distributor, or authority concerned</report>
         <report test="not(tei:availability/following-sibling::tei:date)">It is a requirement for TEI conformance that information about
                                    publication place, address, identifier, availability, and date
                                    be given in that order, following the name of the publisher,
                                    distributor, or authority concerned</report>
      </rule>
   </pattern>
   <pattern id="notesStmt-constraint-linter">
      <rule context="tei:notesStmt">
         <assert test="tei:note/tei:p">The notesStmt is provided as a
                                    convenience to permit a prose description of the physical
                                    manuscript. Please also complete the structured elements for
                                    manuscript description within sourceDesc </assert>
      </rule>
   </pattern>
   <pattern id="quotation-constraint-quotationContents">
      <rule context="tei:quotation">
         <report test="not(@marks) and not (tei:p)">
On <name/>, either the @marks attribute should be used, or a paragraph of description provided</report>
      </rule>
   </pattern>
   <pattern id="damageSpan-constraint-spanTo">
      <rule context="tei:damageSpan">
         <assert test="@spanTo">
The @spanTo attribute of <name/> is required.</assert>
      </rule>
   </pattern>
   <pattern id="subst-constraint-substContents1">
      <rule context="tei:subst">
         <assert test="child::tei:add and child::tei:del">
            <name/> must have at least one child add and at least one child del</assert>
      </rule>
   </pattern>
   <pattern id="join-constraint-joinTargets1">
      <rule context="tei:join">
         <report test="@target and @targets">
You may not supply both @target and @targets on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="join-constraint-joinTargets2">
      <rule context="tei:join">
         <report test="not(@target) and not(@targets)">
You must supply either @target or @targets on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="join-constraint-joinTargets3">
      <rule context="tei:join">
         <assert test="contains(@target,' ')">
You must supply at least two values for @target on <name/>
         </assert>
      </rule>
   </pattern>
   <pattern id="dimensions-constraint-duplicateDim">
      <rule context="tei:dimensions">
         <report test="count(tei:width)&gt; 1">
The element <name/> may appear once only
      </report>
         <report test="count(tei:height)&gt; 1">
The element <name/> may appear once only
      </report>
         <report test="count(tei:depth)&gt; 1">
The element <name/> may appear once only
      </report>
      </rule>
   </pattern>
   <pattern id="msIdentifier-constraint-msId_minimal">
      <rule context="tei:msIdentifier">
         <report test="local-name(*[1])='idno' or                              local-name(*[1])='altIdentifier' or        .='' ">
You must supply either a locator of some type or a name for <name/>
         </report>
      </rule>
   </pattern>
</schema>