data/derivative/digital_mishnah_reference.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
   <pattern id="ptr-constraint-ptrAtts">
      <rule context="tei:ptr">
         <report test="@target and @cRef">Only one of the
	attributes 'target' and 'cRef' may be supplied.</report>
      </rule>
   </pattern>
   <pattern id="ref-constraint-refAtts">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes 'target' and 'cRef' may be supplied.</report>
      </rule>
   </pattern>
   <pattern id="relatedItem-constraint-targetorcontent1">
      <rule context="tei:relatedItem">
         <report test="@target and count( child::* ) &gt; 0">If the 'target' attribute is used, the
        relatedItem element must be empty</report>
         <assert test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</assert>
      </rule>
   </pattern>
   <pattern id="link-constraint-linkTargets1">
      <rule context="tei:link">
         <report test="@target and @targets">You may not supply both 
	@target and @targets</report>
      </rule>
   </pattern>
   <pattern id="link-constraint-linkTargets2">
      <rule context="tei:link">
         <report test="not(@target) and not(@targets)">You must
	supply either @target or @targets</report>
      </rule>
   </pattern>
   <pattern id="link-constraint-linkTargets3">
      <rule context="tei:link">
         <assert test="contains(@target,' ')">You must supply at least two
values for @target</assert>
      </rule>
   </pattern>
   <pattern id="app-constraint-only1lem">
      <rule context="tei:app">
         <assert test="count( descendant::tei:lem[ generate-id(       current() ) = generate-id( ancestor::tei:app[1] ) ]) &lt;       2">Only one &lt;lem&gt; element may appear within a single
      apparatus entry, whether it appears outside a &lt;rdgGrp&gt;
      element or within it.</assert>
      </rule>
   </pattern>
</schema>